# IntelliJ IDEA
.idea/
*.iml
out/

# Build
target/
build/
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp
*.tmp

# Eclipse (если кто-то юзает)
.project
.classpath
.settings/

# VS Code (если кто-то юзает)
.vscode/